:root {
  --duet-color-primary: #2399d5;
  --duet-color-text: #333;
  --duet-color-text-active: #fff;
  --duet-color-placeholder: #666;
  --duet-color-button: #f5f5f5;
  --duet-color-surface: #fff;
  --duet-color-overlay: rgba(0, 0, 0, 0.8);
  --duet-color-border: #ccc;

  --duet-font: 'Source Sans Pro', sans-serif;
  --duet-font-normal: 400;
  --duet-font-bold: 600;

  --duet-radius: 2px;
  --duet-border: 1px!important;
  --duet-z-index: 600;
}

.duet-date__input {
  padding-top: 8px!important;
  padding-right: 58px!important;
  padding-bottom: 8px!important;
  padding-left: 12px!important;
}

.duet-date__input:focus {
    outline: none !important;
    border:1px solid;
  }
